<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>varietyx</title>
    <link rel="stylesheet" href="index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        let firstSection = '<%= sections[0] %>';
        let secondSection = '<%= sections[1] %>';
        let thirdSection = '<%= sections[2] %>';
    </script>
    <script defer src="script.js"></script>
</head>
<body>
    <div class="aside">
        <div class="logoWrapper">
            <div class="logo">
                <img src="img/Vector.svg">
            </div>
            <div class="currentUser"><%= username %></div>
        </div>
        
        <a href = "/app/firstSection" class="field"><p class="fieldItem"><%= sections[0] %></p></a>
        <a href = "/app/secondSection" class="field"><p class="fieldItem"><%= sections[1] %></p></a>
        <a href = "/app/thirdSection" class="field"><p class="fieldItem"><%= sections[2] %></p></a>
        <a href = "/app/settings" class="field"><p class="fieldItem">Настройки</p></a>
    </div>

    <div class="main">
        <div class="currentField"></div>
        <div class="activeTasks">
            <p>Активные задачи</p>
            <div class="addTask">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="task">
            <div class="taskDesc">
                <p class="taskNumber">Задача 1</p>
                <p class="deadline">Дедлайн: 01.01.2002</p>
            </div>
            <div class="taskText">
                <input type="text" class="enterTask" placeholder="Запишите задачу">
            </div>
            <div class="radio"></div>
        </div>
        <div class="activeTasks">
            <p>Предстоящие задачи</p>
            <div class="addTask">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="task">
            <div class="taskDesc">
                <p class="taskNumber">Задача 1</p>
                <p class="deadline">Дедлайн: 01.01.2002</p>
            </div>
            <div class="taskText">
                <input type="text" class="enterTask" placeholder="Запишите задачу">
            </div>
            <div class="radio"></div>
        </div>
        <div class="activeTasks">
            <p>Завершенные задачи</p>
            <div class="addTask">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="task">
            <div class="taskDesc">
                <p class="taskNumber">Задача 1</p>
                <p class="deadline">Дедлайн: 01.01.2002</p>
            </div>
            <div class="taskText">
                <input type="text" class="enterTask" placeholder="Запишите задачу">
            </div>
            <div class="radio"></div>
        </div>
    </div>
</body>
</html>