<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>varietyx</title>
    <link rel="stylesheet" href="index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        let firstSection = '<%= firstSection %>';
        let secondSection = '<%= secondSection %>';
        let thirdSection = '<%= thirdSection %>';
    </script>
    <script defer src="script.js"></script>
</head>
<body>
    <div class="aside">
        <div class="logoWrapper">
            <% if (photo) { %>
                <img src=<%= photo %> class="profilePhoto">
            <% } else { %>
                <div class="logo">
                    <img src="img/Vector.svg">
                </div>
            <% } %>
            <div class="currentUser"><%= username %></div>
        </div>
        
        <a href = "/app/firstSection" class="field">
            <p class="fieldItem firstSection"><%= firstSection %></p>
        </a>

        <a href = "/app/secondSection" class="field">
            <p class="fieldItem secondSection"><%= secondSection %></p>
        </a>

        <a href = "/app/thirdSection" class="field">
            <p class="fieldItem thirdSection"><%= thirdSection %></p>
        </a>
        <a href = "/app/settings" class="field"><p class="fieldItem">Настройки</p></a>
    </div>

    <div class="main">
        <div class="currentField"><%= thirdSection %></div>
        <div class="taskCategory">
            <div class="category active" onclick="choiceCategory(event)">
                <p class="taskStatus">Активные задачи</p>
                <i class="fa-solid fa-angle-down arrow"></i>
            </div>
            <div class="category" onclick="choiceCategory(event)">
                <p class="taskStatus">Предстоящие задачи</p>
                <i class="fa-solid fa-angle-down arrow"></i>
            </div>
            <div class="category" onclick="choiceCategory(event)">
                <p class="taskStatus">Завершенные задачи</p>
                <i class="fa-solid fa-angle-down arrow"></i>
            </div>
        </div>
        <div class="addToTop" onclick="addTask(event)">
            <p>+ Добавить задачу</p>
        </div>
        <div class="taskWrapper"></div>
    </div>
</body>
</html>